<section class="bg-inherit w-full  py-[72px] max-sm:py-[48px]  ">
  <div class="main-container flex flex-col items-center gap-[64px] max-sm:gap-[32px] max-sm:px-0">
    <h1 class="font-bold uppercase text-[4.8rem] max-md:text-[3.2rem] max-sm:px-4">
      {{ section.settings.featured_collection.title }}
    </h1>
    {% if section.settings.featured_collection.all_products_count > 0 %}
      <div class="w-full grid grid-cols-4 gap-x-5 gap-y-12 max-lg:grid-cols-3 max-lg:w-fit max-md:grid-cols-2 max-sm:hidden ">
        {% for item in section.settings.featured_collection.products limit: section.settings.limit_collection %}
          {% render 'card_product', el: item %}
        {% endfor %}
      </div>
      <div class=" swiper featured-colection-slider sm:!hidden w-full !pr-8">
        <div class="swiper-wrapper  w-full px-4 ">
          {% for item in section.settings.featured_collection.products limit: section.settings.limit_collection %}
            <div class="swiper-slide featured-colection-slide ">
              {% render 'card_product', el: item %}
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="max-sm:px-4 w-full flex justify-center">
        <a
          href="{{ section.settings.featured_collection.url }}"
          class=" w-fit px-[54px] py-[16px] tezt-[1.6rem] font-medium flex justify-center items-center border border-slate-300 rounded-[62px] max-md:w-full "
        >
          {{ section.settings.button_collection_text -}}
        </a>
      </div>

    {%- else -%}
      <p class="max-sm:px-4">Nessun Prodotto da mostrare</p>
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Featured Collection",
  "tag": "section",
  "settings": [
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "limit_collection",
      "label": "Limit Product",
      "min": 4,
      "max": 12,
      "step": 4,
      "default": 4
    },
    {
      "type": "text",
      "id": "button_collection_text",
      "label": "Button Text",
      "default": "View More"
    }
  ],

  "presets": [
    {
      "name": "Featured Collection"
    }
  ]
}
{% endschema %}
