<section
  x-data="{ paddingSection: {{ section.settings.padding_section }}}"
  class="w-full"
  x-bind:class="paddingSection ? 'py-[64px] max-sm:py-[32px]' : ''"
>
  <div
    class="w-full main-container py-[70px] px-[32px] flex items-center flex-col rounded-[40px] featured-collections-list-color-section max-sm:py-[32px] max-sm:px-[16px]"
  >
    <h1 class="font-bold uppercase text-[4.8rem] max-md:text-[3.2rem] max-sm:px-4 my-[64px] max-sm:mt-8 text-center max-sm:leading-[36px]">
      {{ section.settings.title_section }}
    </h1>
    <div class="w-full grid  grid-cols-[1fr_400px] gap-6 mb-6 max-sm:grid-cols-1">
      {% if section.settings.collection_one.title %}
        {% render 'collections_card', el: section.settings.collection_one %}
      {% endif %}
      {% if section.settings.collection_two.title %}
        {% render 'collections_card', el: section.settings.collection_two %}
      {% endif %}
    </div>
    <div class="w-full grid  grid-cols-[400px_1fr] gap-6 max-sm:grid-cols-1">
      {% if section.settings.collection_three.title %}
        {% render 'collections_card', el: section.settings.collection_three %}
      {% endif %}
      {% if section.settings.collection_four.title %}
        {% render 'collections_card', el: section.settings.collection_four %}
      {% endif %}
    </div>
  </div>
</section>

{% style %}
  .featured-collections-list-color-section {
     background-color: {{ section.settings.color_section }}
  }
{% endstyle %}

{% schema %}
{
  "name": "Featured Collections List",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "padding_section",
      "label": "Padding",
      "default": false
    },
    {
      "type": "color",
      "id": "color_section",
      "label": "Color Section",
      "default": "#F0F0F0"
    },
    {
      "type": "text",
      "id": "title_section",
      "label": "Title",
      "default": "BROWSE BY dress STYLE"
    },
    {
      "type": "collection",
      "id": "collection_one",
      "label": "Collection one"
    },
    {
      "type": "collection",
      "id": "collection_two",
      "label": "Collection two"
    },
    {
      "type": "collection",
      "id": "collection_three",
      "label": "Collection three"
    },
    {
      "type": "collection",
      "id": "collection_four",
      "label": "Collection four"
    }
  ],

  "presets": [
    {
      "name": "Featured Collections List"
    }
  ]
}
{% endschema %}
